<main class="h-screen flex flex-col gap-2">
  <app-navbar />
  <section class="container mx-auto flex flex-col gap-8 w-full h-page">
    <div
      class="flex justify-between items-center border-b-2 border-base-300 w-full pb-2"
    >
      <h3 class="text-2xl font-bold">Users</h3>
      <a [routerLink]="routes.user.new" class="btn btn-primary">
        Add new user
      </a>
    </div>
    @if(users$ | async; as users) {
    <app-users-table [users]="users"></app-users-table>
    }
    <router-outlet></router-outlet>
  </section>
</main>
